# Bundler
.bundle/
vendor/bundle/

# Ruby
*.gem
.ruby-version

# Logs
*.log
log/

# Coverage
coverage/

# Environment
.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
tmp/

# Generated memes
public/memes/

images/*
!images/.gitkeep
/generated-preview.png

/db/*.sqlite3
/config/
/db/